@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(142, 142, 142, 0.308);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pop{
  padding-bottom: 20px;
  background-color: #b8b8ff !important;
}

.con{
      font-size: 40px;
}

.token{
  padding-top: 15px;
  padding-bottom: 15px;
}

.caption{
      font-size: 20px;
      padding-bottom: 20px;

}
