.credit-card-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

.robertt{
  display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.robert{
  width: 300px;
}

  .container{
    margin-top: 150px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    background-color: #fffbfb;
    border-style: double;
    border-color: gray;
    border-width: 4px;
    border-radius: 40px;
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .bolding{
    font-weight: bold;
    margin-left: 20px;
  }

  .subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .card{
    margin: 0;
    margin-right: 600px;
    width: 200px;
  }

  .chunk{
    display: flex;
    justify-content: space-between;
  }